<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.cwi.tcc_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:name=".MainApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/dog_paw_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dog_paw_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tccandroid"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.feature.home.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tccandroid.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.feature.dogs.DogHostActivity"
            android:exported="false"
            android:label="Dogs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.feature.cats.CatHostActivity"
            android:exported="false"
            android:label="Cats"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.feature.userPets.UserPetsHostActivity"
            android:exported="false"
            android:label="Your Pets"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.feature.addPet.AddPetActivity"
            android:exported="false"
            android:label="Add your Pet"
            android:screenOrientation="portrait" />
    </application>

</manifest>